html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  /* flex-direction: column; */
}

.left_panel {
  width: 50%;
  display: flex;
}

.right_panel {
  width: 50%;
}
